name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: upd
      run: apt-get update
    - name: upd
      run: apt-get install -y libcglm-dev libsdl2-dev libgl-dev libglew-dev
    - name: make
      run: make

